*.log
.idea/
.DS_Store
.node_modules
target/
deployment/k8s/third_party_softwares/
deployment/terraform/cluster/local/apps/overrides.json
deployment/terraform/cluster/local/infrastructure/overrides.json
deployment/terraform/cluster/local/apps/.terraform/
deployment/terraform/cluster/local/infrastructure/.terraform/
deployment/terraform/third_party_softwares
**/*.tfstate
**/*.tfstate.backup
docs/_site/