*.log
.idea/
.DS_Store
.node_modules
haystack.iml
haystack-deployment.iml
target/
/deployment/k8s/third_party_softwares/
/deployment/terraform/cluster/local/state/
/deployment/terraform/cluster/local/apps/overrides.json
/deployment/terraform/cluster/local/infrastructure/overrides.json
/deployment/terraform/cluster/local/apps/.terraform/
/deployment/terraform/cluster/local/infrastructure/.terraform/
/deployment/terraform/third_party_softwares
**/*.tfstate
**/*.tfstate.backup
.vscode/*
docsite/node_modules
docsite/i18n/*
!docsite/i18n/en.json
docsite/lib/core/metadata.js
docsite/lib/core/MetadataBlog.js
docsite/translated_docs
docsite/build/
docsite/yarn.lock
fakespans
