
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
    url('../fonts/TitilliumWeb-Regular.ttf') format('truetype')
}

body {
    background-color: white !important;
    font-family: "Titillium Web", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Titillium Web", sans-serif !important;
}

.fixedHeaderContainer {
    min-height: 55px;
}

footer .footer__logo {
    display: block;
    margin: 1em auto;
    width: 170px;
    opacity: 1;
}

footer.nav-footer {
    background: $secondaryColor;
}

a.navItemActive {
    color: #e23474 !important;
}

.mainContainer {
    background-color: white !important;
}

.indexContainer {
    padding: 0;
}

.navGroupActive {
    background-color: #F2F4FB !important;
}

.darkBackground {
    background: #F2F4FB;
    color: $primaryColor;
}
.darkBackground a {
    color: $primaryColor;
}
.darkBackground code {
    color: $primaryColor;
}

.container.darkBackground .wrapper h1,
.container.darkBackground .wrapper h2,
.container.darkBackground .wrapper h3,
.container.darkBackground .wrapper h4,
.container.darkBackground .wrapper h5 {
    border-color: white;
    color: $primaryColor;
}

.lightBackground {
    background: #ffffff;
}

.imageAlignSide .blockImage {
    max-width: 200px;
    flex: 0 1 200px;
    height: 200px;
}

.imageAlignSide .blockContent {
    flex: 1 1;
    max-width: 600px;
}

.container .wrapper .imageAlignSide p {
    margin-bottom: 40px;
    max-width: none;
    margin: 0;
}

.container .wrapper .gridBlock  .imageAlignRight {
    justify-content: flex-end;
}

.mainContainer .wrapper .post .postHeader h1 {
    color: $postHeaderColor;
}
.mainContainer .wrapper .post .postHeader h1 a {
    color: $postHeaderColor;
}

.mainContainer .wrapper .post h1 {
    color: $postHeaderColor;
    font-weight: bold;
}
.mainContainer .wrapper .post h2 {
    color: $postHeaderColor;
    font-weight: bold;
}
.mainContainer .wrapper .post h3 {
    color: $postHeaderColor;
    font-weight: bold;
}
.mainContainer .wrapper .post h5 {
    color: $postHeaderColor;
    font-weight: bold;
}
.mainContainer .wrapper .post h5 strong {
    color: $postHeaderColor;
    font-weight: bolder;
}

.mainContainer .wrapper a:not(.button) {
    text-decoration: underline !important;
    font-weight: bold;
    color: $secondaryColor
}

.container .gridBlock .blockContent p {
    font-size: 14px;
}

.container .gridBlock .blockContent h2 {
    padding: 0;
}

.container .gridBlock .blockContent h2 p {
    font-size: 24px;
    font-weight: 400;
}

.container.paddingTop {
    padding-top: 50px;
}

.container.paddingBottom {
    padding-bottom: 50px;
}

.homeContainer {
    background: #2d3750;
}

.homeContainer .homeWrapper {
    padding-top: 80px;
    padding-bottom: 100px;
}

.projectTitle {
    color: white;
}

.homeContainer .button {
    border: 1px solid white;
    color: white;
}

.homeContainer .button:hover {
    background: white;
    color: #2d3750;
}

.mainContainer .wrapper a:not(.button) {
    color: #e23474;
    font-weight: 400;
}

li.navListItem.navListItemActive {
    background-color: rgba(0, 0, 0, 0.07);
    margin-right: -22px;
}

li.navListItem a:hover {
    color: #e23474 !important;
}

.homeContainer {
    background-image: url("../img/network_graph.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}