body { margin: 0px; height: 100%; width: 80%; }

.book {
    position: relative;
    width: 100%;
    height: 100%;
}

a { text-decoration: none; color: #0065b8; }
a:hover { text-decoration: underline; color: #0087f5; }

p {font-family: 'Helvetica', 'Arial', 'Sans-Serif'; color: #00355f;}

p, ul, li { font-size: 1em; line-height: 1.4em; color: #1f1f1f; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }

/* sidebar */
nav {
    position: absolute;
    left: 0px;
    top: 0px; 
    bottom: 0px;
    z-index: 1;
    display: block; 
}

nav > ul {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
} 
nav ul {
    list-style-type: none;
}

nav li {
    text-align: left;
}

nav li a {
    display: block;
    color:#000;
    padding: 8px 8px;
    text-decoration: none;
    white-space: nowrap;
} 

nav li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}
/* end sidebar */

.container {
    left: 250px;
    position: absolute;
    padding-left: 15px;
}

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; color: #00355f; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; color: #00355f; }
h1 { font-size: 2em;  }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

.header { width: 100%; font-size: 2em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-weight: bold; padding: 5px; }

.header { color: #00355f; }

/* always follow the div that contains the logo with an empty div with class="clearfix", to clean up after the float. */
.logo { float: right; }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img { display: block; margin: auto; max-width: 600px; }
.highlighter-rouge { background-color: #f5f5f5; }

.footer {width: 100%; }
.footer { border-top: 1px solid #d5d5d5; font-size: 1em;  text-align: center; font-family: 'Helvetica', 'Arial', 'Sans-Serif';  padding: 5px; }


